body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: .5;
}
h2{
    font-size: 30px;
}
.gray-color{
    color: rgb(93, 92, 92);
}
.orange-color{
    color: orange;
}
p{
    color: #888;
    text-align: justify;
}
.health-tips{
    display: flex;
    margin-bottom: 70px;

}
.half-width{
    width: 40%;
    padding: 5%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;

}

.margin{
    margin-top: 70px;
}
.about-me{
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
}
.about-me-margin{
    margin-right: 100px;
    margin-top: 100px;
}
.my-recipies{
text-align: center;

}
.my-recipies p {
    text-align: center;
}
.first-recipie{
padding: 20px;
width: 250px;
box-shadow: 10px 10px  20px gray;
border-radius: 20px;
margin-left: 100px;
}
.up img{
    width: 100%;
}
.down{
    width: 100%}

.three-recipie{
    display: flex;
    margin-top: 50px;
}
.new-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
hr{
    border: 4px solid black;
    width: 80%;
}
.extra-mark{
    margin-top: 100px;
}
.cooking-item{
    text-align: center;
}
.cooking-item p{
    text-align: center;
}
.my-suggestion h3{
    margin-top: -25px;
    font-weight: 500;
}
.my-suggestion{
    margin-left: 127px;
}
.chicken-basil{
    width: 250px;
    box-shadow: 10px 10px 20px gray;
    margin-left: 75px;
}
.chicken-basil-text{
    margin-top: -25px;
    padding-left: 10px;
}
.chicken-basil div img{
    width: 100%;
}
.food-items{
    display: flex;
}
.email{
    display: flex;
}
.email p{
    margin-top: -25px;
}
.form-tag{
    margin-left: 200px;
    margin-top: -25px;
}
.special-offers{
    margin-left: 200px;
    margin-top: 50px;
}
footer{
    background-color: black;
    text-align: center;
    height: 128px;
    padding-top: 8px;
}
footer p{
    text-align: center;
    margin-top: -33px;
    font-size: 13px;
}